

body {
    background-color: #023047;
    
}

.formcss {
    position : absolute;

    margin-left : 45%;
    margin-top : 10%;
  
}


    .formcss p {
        color: #ffb703;
        font-size: 30px;
        font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.btn btn-warning {
    position: absolute;
    top: 8px;
    left: 60px;
    padding-left: 30px;
    color: #023047;
}


h1 {
    text-align: center;
    color: #ffb703;
    font-size : 50px;
}

h2 {
    text-align: center;
    color: #ffb703;
}

table {
    background-color: wheat;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/*p {
    color: #ffb703;
    font-size :inherit 40px;
}*/