

body {
    background-color: #023047;
    
}

.formcss {
    position : absolute;

    margin-left : 45%;
    margin-top : 10%;
  
}

.btn btn-warning {
    
    position: absolute;
    top: 8px;
    margin-left: 60px;
    padding-left: 30px;
}


h1 {
    text-align: center;
    color: #ffb703;
}

h2 {
    text-align: center;
    color: #ffb703;
}

table {
    background-color: wheat;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
    color: #ffb703;
}