

body {
    background-color: #023047;
}

h1 {
    text-align: center;
    color: #ffb703;
}

h2 {
    text-align: center;
    color: #ffb703;
}

table {
    background-color: wheat;
}


p {
    color: #ffb703;
}

.Edit {

    align-items : center;
}

