body {
    background-color: #023047;
    text-align : center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}

.container {
    left :16%;
    top : 30%;
    justify-content : center;
    position: absolute;
}


h1 {

    text-align: center;
    color: #ffb703;
}



.center {
    
    border: 10px;
}

.btn-warning {
    color: #023047;
    border-spacing: 10px;
}

.indexgomb {
    padding-bottom : 20px;
}

.logo {

   
   max-width : 300px;
   position: absolute;
   top: 8px;
   left: 16px;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #ffb703;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






        
