body {
    background-color: #023047;
   
}

h1 {
    text-align: center;
    color: #ffb703;
}

h2 {
    text-align: center;
    color: #ffb703;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-warning {
    color: white;
    border-spacing: 10px;
}








        
