@model string
<!DOCTYPE html5>
<html>
<head>
    <title>New user add</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/AddAchievement.css" rel="stylesheet" />
</head>

<body>
    <h1>    Add new Achievement</h1>
    <form action="/Home/AddAchievement" method="post">
        <p>Name :</p>
        <input type="text" name="Name" /><br />
        <input type="hidden" name="GameId" value="@Model" />
         <br /> 
        <p>Achievent's Level:</p>   
        <input type="radio" id="bronze" name="achiLevel" value="bronze">
        <label for="male">bronze</label><br>
        <input type="radio" id="silver" name="achiLevel" value="silver">
        <label for="female">silver</label><br>
        <input type="radio" id="gold" name="achiLevel" value="gold">
        <label for="other">gold</label>
        <br />
        <input type="submit" value="Add" />
    </form>
</body>

</html>