@model string

    <!DOCTYPE html5>
    <html>
    <head>
        <title>New user add</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="~/AddGame.css" rel="stylesheet" />
    </head>

    <body>
        <h1>    Add a game</h1>
        <form action="/Home/AddGame" method="post">
            Name:
            <input type="text" name="Name" />
            <input type="hidden" name="UserId" value="@Model" /><br />
            Genre:
            <input type="text" name="Genre" /><br />
            Game Time:
            <input type="number" name="GameTime" /><br />
            Rating :
            <input type="number" name="Rating" /><br />

            <input type="submit" value="Add game" />

        </form>
    </body>

</html>

