@model string

    <!DOCTYPE html5>
    <html>
    <head>
        <title>New user add</title>
        <style>
        </style>
    </head>

    <body>
        <h1>    Add a game</h1>
        <form action="/Home/AddGame" method="post">
            Name:
            <input type="text" name="Name" />
            <input type="hidden" name="UserId" value="@Model" /><br />
            Genre:
            <input type="text" name="Genre" /><br />
            Game Time:
            <input type="number" name="GameTime" /><br />
            Rating :
            <input type="number" name="Rating" /><br />

            <input type="submit" value="Add game" />

        </form>
    </body>

</html>

