
<!DOCTYPE html>
<html>
<head>
    <title>HUB</title>
    <style>
        body {
            background-color: #7678ed;

        }


        h1 {
            text-align: center;
            
        }

        

    </style>
</head>

<body>
    <h1>Hub</h1>

    <a href="/Home/GenerateData">Generate Data</a><br />   

    <a href="/Home/AddUser">Add New User</a>
    <br />  
    <a href="/Home/ListUsers">List Users</a>

</body>

</html>