
<!DOCTYPE html5>
<html>
<head>
    <title>HUB</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/Index.css" rel="stylesheet" />
</head>

<body>
    <h1>Meleg vagyok</h1>

    <h2 class="font-italic">Games played for @Model hours </h2>

    <a href="#"><img src="levihub.png" class="logo"  ></a>


    <div class="container">
        <div class="indexgomb">
            <input type="button" class="btn btn-warning" onclick="location.href='/Home/GenerateData';" value="Generate Data" />
        </div>
        <br />
        <div class="indexgomb">
            <input type="button" class="btn btn-warning" onclick="location.href='/Home/AddUser';" value="Add New User" />
        </div>
        <br />
        <div class="indexgomb">
            <input type="button" class="btn btn-warning" onclick="location.href='/Home/ListUsers';" value="List Users" />
        </div>
        <br />
        <div class="indexgomb">
            <input type="button" class="btn btn-warning" onclick="location.href='/Home/ListAllGames';" value="List Games" />
        </div>
        <br />
        <div class="indexgomb">
            <input type="button" class="btn btn-warning" onclick="location.href='/Home/ListAchievements';" value="List Achievements" />
        </div>
        <br />
        <div class="indexgomb">
            <input type="button" class="btn btn-warning" onclick="location.href='/Home/Statistics';" value="Show statistics" />
        </div>
        <br />
    </div>






</body>

</html>