@using Models
@model IEnumerable<Achievement>

<!DOCTYPE html5>
<html>
<head>
    <title>Achievement Listing</title>
    <link href="~/levihubfavocion.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="~/Statistics.css" rel="stylesheet" />
</head>

<body>
    <h1>Achievements</h1><br />

    <table class="rwd-table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.achiLevel)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td data-th="Movie Title" >
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td data-th="Movie Title">
                        @Html.DisplayFor(modelItem => item.achiLevel)
                    </td>

                    <td data-th="Movie Title">

                        <input type="button" class="btn btn-success" onclick="location.href='/Home/EditAchi?Id=@item.AchiId';" value="Edit" />
                        <br />
                        <input type="button" class="btn btn-danger" onclick="location.href='/Home/DeleteAchi?Id=@item.AchiId';" value="Delete" />
                        

                    </td>
                </tr>
             }
        </tbody>
    </table>
    <input type="button" class="btn btn-warning" onclick="location.href='/Home/ListUsers';" value="Back to the users" />

    <br />

    <br />
    
    <input type="button" class="btn btn-warning" onclick="location.href='/';" value="Back To Hub" />
</body>
</html>

